-model_name = (model_name if local_assigns.has_key?(:model_name)) || "clients"
-classes = (classes if local_assigns.has_key?(:classes)) || "grid_3 alpha"

#search-box
  %i#search-term-remove.icon-clear
  =text_field_tag "search_input", params[:term], :id => "search-input", :placeholder => "search #{model_name}", :class => classes, :data => {"feed" => feed}
  =submit_tag "Search", :class => "grid_2 btn action grid", :id => "search-button"