.form-wrap
  = semantic_form_for @<%= singular_table_name %> do |f|
    = render_validation_errors(@<%= singular_table_name %>)
    <% for attribute in attributes %>
    = f.input :<%= attribute.name %>
    <% end %>
    = f.action :submit, :button_html => { :class => "btn btn-success" }