-content_for :content do
  .breadcrumb.sub
    = link_to 'Back', <%= index_helper %>_path
  
  %h3
    <%= singular_table_name.capitalize %> Details

  %ul.fields
    <% for attribute in attributes %>
    =titled_field("<%= attribute.human_name %>", @<%= singular_table_name %>.<%= attribute.name %>)
    <% end %>

  = link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>)